<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
 		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
 		 version="3.1">
 		 
	<servlet>
        <servlet-name>LocationInsert</servlet-name>
        <servlet-class>com.location.LocationInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LocationInsert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>Location</servlet-name>
		<servlet-class>com.location.Location</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Location</servlet-name>
		<url-pattern>/location</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>UpdateLocation</servlet-name>
        <servlet-class>com.location.UpdateLocation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateLocation</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    
    
</web-app>